.my_card {
  width: 80%;
  margin: 2rem auto 0 auto;
  padding: 0;
  font-size: 16px;
}
.my_card_subtitle {
    font-size: 18px;
}
.my_card_title {
  background-color: cornflowerblue;
  height: 3rem;
  display: flex;
  align-items: center;
}
.my_card_title_text {
  color: #ffffff;
  margin-left: 1rem;
  font-size: 24px;
}
.mat-radio-button {
    margin-right: 1rem;
}
.container {
  width: 100%;
}
.table {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2rem auto 0 auto;
}
.table_header {
  display: flex;
  width: 100%;
}
.table_header_item {
  width: 100%;
  border: 1px solid #000;
  background-color: cornflowerblue;
  color: #ffffff;
  align-items: center;
}
.table_header_text {
  margin: 1rem;
}
.table_row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.table_row_item {
  width: 100%;
  border: 1px solid #000;
  color: #000;
}
.table_row_item_select {
  width: 80%;
}
.table_row_item_input {
  width: 80%;
}
.card_actions {
  display: flex;
  justify-content: flex-end;
  height: 3rem;
}
.actions_button {
  background-color: cornflowerblue;
  height: 50%;
  align-self: center;
  margin-right: 2rem;
  color: #ffffff;
}
